footer {
  background-color: #f8f8f8;
  padding: 10px 20px;
  text-align: center;
  font-size: 14px;
  color: #888;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #c6c6c6;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
