<div class="padding">
  <h1>Night Patrol UML</h1>
  <h3>
    On the right side, you can observe the Unified Modeling Language (UML)
    diagram representing the structure of the "Night Patrol" game. This diagram
    provides a visual representation of the classes and their relationships
    within the game system.
  </h3>
  <div>
    <h2>Agenda</h2>
    <mat-list role="list">
      <mat-list-item role="listitem"
        >+ denotes public attributes or operations</mat-list-item
      >
      <mat-list-item role="listitem"
        >- denotes private attributes or operations</mat-list-item
      >
      <mat-list-item role="listitem"
        ># denotes protected attributes or operations</mat-list-item
      >
    </mat-list>

    <h2>Access Specifier</h2>
    <table class="table table-bordered table-dark">
      <thead>
        <tr>
          <th scope="col"></th>
          <th scope="col">Members of their OWN CLASS can access</th>
          <th scope="col">
            Members of a SUBCLASS of their own class can access
          </th>
          <th scope="col">Members of CLIENTS (other classes) can access</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row"><strong>+</strong><br />public</th>
          <td class="bg-success">yes</td>
          <td class="bg-success">yes</td>
          <td class="bg-success">yes</td>
        </tr>
        <tr>
          <th scope="row">
            <strong>#</strong><br />protected<br />almost not possible in JS
          </th>
          <td class="bg-success">yes</td>
          <td class="bg-success">yes</td>
          <td class="bg-danger">no</td>
        </tr>
        <tr>
          <th scope="row"><strong>-</strong><br />private</th>
          <td class="bg-success">yes</td>
          <td class="bg-danger">no</td>
          <td class="bg-danger">no</td>
        </tr>
      </tbody>
    </table>

    <h2>1---*</h2>
    <h3>
      The system encompasses numerous drawable objects. The World entity can
      accommodate multiple drawable objects, while each drawable object can only
      be associated with a single world. Hence, this represents a One-To-Many
      relationship.
    </h3>
    <h2>&lt;---</h2>
    <h3>
      Inheritance is the ability to create classes based on other classes. With
      inheritance, we can define a parent class (with certain properties and
      methods), and then children classes that will inherit from the parent
      class all the properties and methods that it has.
    </h3>
    <h2>super()</h2>
    <h3>
      The super keyword is used to access properties on an object literal or
      class's [[Prototype]], or invoke a superclass's constructor. The super.
      prop and super[expr] expressions are valid in any method definition in
      both classes and object literals.
    </h3>
    <div class="inner-content">
      <img src="assets/img/Class_Diagram.drawio.png" alt="" />
    </div>
  </div>
</div>
