<main>
  <h1>General Explain</h1>
  <p>
    I have created a captivating game world using HTML5 canvas and JavaScript.
    In this game, I have implemented a class called "World" to manage and render
    various game objects on the canvas. The canvas, in simple terms, is an HTML
    element that allows me to draw graphics using JavaScript.
  </p>

  <p>
    Inside the "World" class, I handle all the game logic. This includes
    updating object positions, checking for collisions, and providing a
    delightful gaming experience. You will find an array of exciting elements in
    the game world, such as a character, enemies, coins, waterbombs, and even a
    challenging end boss. You can control the character's movements using your
    keyboard, making it even more interactive.
  </p>

  <p>
    Throughout the game, you can collect coins and waterbombs, and the system
    keeps track of your progress. To enhance your gaming experience, I have
    added sound effects for different events. The "draw()" method is responsible
    for continuously rendering the game objects on the canvas. It ensures that
    their positions are updated and various conditions are checked to keep the
    game running smoothly.
  </p>

  <p>
    By exploring this code, you can witness the fundamentals of game
    development, including object-oriented programming principles, collision
    detection, and engaging game mechanics like collecting objects and defeating
    enemies. The canvas element provides an ideal platform to create visually
    appealing and interactive 2D games or animations directly in your web
    browser. So, get ready for an immersive gaming experience right here on this
    website!
  </p>
  <h1>Functions</h1>
  <h2>Walking</h2>
  <div class="functionEx">
    <img src="assets/gif/character_walking.gif" alt="" />
    <p>
      The character is capable of movement by pressing the designated right key,
      enabling a walking animation. The requisite function to initiate this
      motion is conveniently provided below this section.
    </p>
  </div>
  <div class="underEx">
    <h3>What happens when you press right</h3>
    <p>game.js</p>
    <p>Please set the debugger on the keyboard.RIGHT line</p>
    <img src="assets/funcitonEx/1. addEventListener.png" alt="" />
    <p>
      It will display "RIGHT: true." The previous value was false due to the
      keyboard class.
    </p>
    <img src="assets/funcitonEx/2. constructor world.png" alt="" />
    <p>Here are the Character walking images in</p>
    <img src="assets/funcitonEx/3. walkingIMG.png" alt="" />
    <p>This is where the handleMovement is managed/processed.</p>
    <img src="assets/funcitonEx/4. function.png" alt="" />
    <p>And this is the Interval for the movements.</p>
    <img src="assets/funcitonEx/5. function.png" alt="" />
    <p>Here is the animation from the pictures.</p>
    <img src="assets/funcitonEx/5. playAnimation movable O.png" alt="" />
    <p>The speed that the Character gets.</p>
    <img src="assets/funcitonEx/6. move right.png" alt="" />
  </div>
</main>
