main {
  padding-left: 21px;
  padding-right: 21px;
  padding-top: 21px;
  padding-bottom: 100px;
}

.functionEx {
  display: flex;
  align-items: center;
}

.underEx {
  display: flex;
  flex-direction: column;
  padding-top: 21px;

  img {
    max-width: 400px;
  }
}

@media (max-width: 500px) {
  .functionEx {
    flex-direction: column;

    img {
      width: 90%;
    }
  }
}
